<h1>/Recipe</h1>

<%= image_tag @recipe.main_picture.url(:display) %>

<p>
  <b>Name</b><br>
  <%= @recipe.name %>
</p>

<p>
  <b>Rating</b><br>
  <%= @recipe.rating %>
</p>

<p>
  <b>Ingredients</b><br>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Method</b><br>
  <%= @recipe.method %>
</p>

<div class="form-actions">
  <%= link_to 'Back', recipes_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn' %>
  <%= link_to 'Delete', recipe_path(@recipe), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
